*.gem
*.rbc
.bundle
.config
.rakeTasks
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/tmp
spec/dummy/log
spec/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
