<h1>Delayed jobs scheduled for class: <%= params[:klass] %></h1>
<h2>With params: <%= @args %></h2>

<table class='jobs table table-bordered'>
  <tr>
    <th>Timestamp</th>
  </tr>

  <% @timestamps.each do |t| %>
    <tr>
      <td>
        <%= link_to Time.at(t), timestamp_path(timestamp: t.to_i), class: 'timestamp-link' %>
      </td>
    </tr>
  <% end %>
  <% if @timestamps.empty? %>
    <tr>
      <td class='no-data'>There are no such jobs scheduled.</td>
    </tr>
  <% end %>
</table>
